html {
    background: url(images/CCH_Loga-01ss.png) no-repeat center fixed;
    background-size: 36%;
    background-position: 50% 82%;
    font-family: 'Questrial', '微軟正黑體';
}

div,
form,
h1,
h2,
h3,
h4,
h5,
span,
p {
    text-align: center;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: center;
}


/*Action Record*/

table.nobg tr:nth-child(even) {
    background-color: #eee;
}

table.nobg tr:nth-child(odd) {
    background-color: #fff;
}

table.nobg th {
    background-color: #504D4D;
    color: white;
}


/*Detailed Board (球員詳細資訊)*/

table#statis tr:nth-child(even) {
    background-color: #eee;
}

table#statis tr:nth-child(odd) {
    background-color: #fff;
}

table#statis th {
    background-color: #504D4D;
    color: white;
}


/*Statisitc Information (統計資訊) Player-based Counting*/

table#statisInfoP tr:nth-child(even) {
    background-color: #CAFEF6;
}

table#statisInfoP tr:nth-child(odd) {
    background-color: #B4F19A;
}

table#statisInfoP th {
    background-color: #504D4D;
    color: white;
}


/*Statisitc Information (統計資訊) Team-based Counting*/

table#statisInfoT tr:nth-child(even) {
    background-color: #CAFEF6;
}

table#statisInfoT tr:nth-child(odd) {
    background-color: #FBD48F;
}

table#statisInfoT th {
    background-color: #504D4D;
    color: white;
}


/*Statisitc Information (統計資訊) Player-based Counting in %*/

table#statisInfoR tr:nth-child(even) {
    background-color: #CAFEF6;
}

table#statisInfoR tr:nth-child(odd) {
    background-color: #9CD1FC;
}

table#statisInfoR th {
    background-color: #504D4D;
    color: white;
}


/*Player Evaluation (球員評比)*/

table#evalTable tr:nth-child(even) {
    background-color: #CAFEF6;
}

table#evalTable tr:nth-child(odd) {
    background-color: #FCB0B7;
}

table#evalTable th {
    background-color: #504D4D;
    color: white;
}


/*File Download*/

table#filedownload {
    border: white;
}
