.nav {
    z-index: 1;
    width: 50%;
    height: 70px;
    background-color: #9A5927;
    width: 100%;
    position: absolute;
    margin: auto;
    margin-left: 23%;
    /*top:0px;
    left:0px;*/
}

.rowbar {
    z-index: 1;
    background-color: #9A5927;
    height: 70px;
    /*position: fixed;*/
}

ul li {
    float: left;
    display: block;
    background-color: #9A5927;
    width: 200px;
    text-align: center;
    line-height: 70px;
    font-size:25pt;
    margin-left: 30px;
}

ul li a {
    color: #F9F59A;
    text-decoration: none;
}

ul li ul {
    display: none;
    margin-left: -30px;
}

ul li:hover ul {
    display: block;
}

ul li:hover {
    background-color: #ba7947;
}

ul li ul li:hover {
    background-color: #F9F59A;
}

ul li ul li:hover a {
    color: #9A5927;
}

ul li ul {
    z-index: 1;
}

.bk {
    z-index: -1;
}
