@font face{
    font-family: "youngGirl";
    src:url("DFFN_H3.TTC");
}
.youngGirlType{
    font-family: "youngGirl";
    font-size: 20pt;
}
.nav {
	z-index: 1;
    width: 50%;
    height: 50px;
    background-color: #9A5927;
    width: 100%;
    position: absolute;
    margin: auto;
    margin-left: 35%;
    /*top:0px;
    left:0px;*/
}
.rowbar{
	z-index: 1;
	background-color: #9A5927;
	height: 50px;
    /*position: fixed;*/
}

ul li {
    float: left;
    display: block;
    background-color: #9A5927;
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 14pt;
}

ul li a {
    color: #F9F59A;
    text-decoration: none;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}

ul li:hover {
    background-color: #ba7947;
}

ul li ul li:hover {
    background-color: #F9F59A;
}

ul li ul li:hover a {
    color: #9A5927;
}

ul li ul {
    z-index: 1;
}

.bk {
    z-index: -1;
}
