html {
    background: url(images/CCH_Loga-01ss.png) no-repeat center fixed;
    background-size: border-box;
    font-family: 'Questrial', '微軟正黑體';
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: center;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}

table#t01 tr:nth-child(odd) {
    background-color: #fff;
}

table#t01 th {
    background-color: black;
    color: white;
}
