.contextMain {
    margin-top: 5%;
    margin-left: 10%;
    padding: 20px;
    padding-bottom: 140PX;
    border: 1px dashed white;
    background-color: #E6E6E6;
    font-size: 16pt;
    width: 80%;
    height:22%;
    font-family: arial;
}

h2 {
    font-style: italic;
    font-size: 32pt;
    font-weight: bolder;
    font-family: arial;
}

.contextButton {
    position: absolute;
    box-sizing: border-box;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 13px 26px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 17px;
    font-family: arial;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 3%;
    margin-left: 1%;
}

.contextButton:hover {
    border-top-color: #1484c9;
    background: #1484c9;
    color: #FFFBFB;
}

.contextButton:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
h3{
	font-style: italic;
    font-size: 21pt;
    font-weight: bolder;
    font-family: arial;
    margin-top: 4%;
    margin-left: 10%;
}
